<?xml version="1.0"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=152368
  -->




<configuration>

	<connectionStrings>
		<!--<add name="ConnectionString" connectionString="Data Source=.;Initial Catalog=UTRY_CI;User ID=sa;Password=123" providerName="System.Data.SqlClient" />-->
		<add name="ConnectionString" connectionString="Data Source=127.0.0.1;Initial Catalog=UTRY_CI;User ID=test;Password=" providerName="System.Data.SqlClient" />
    
    <!--<add name="ConnectionString" connectionString="Data Source=.;Initial Catalog=test;User ID=sa;Password=utryci" providerName="System.Data.SqlClient" />-->
	</connectionStrings>
	
	
  <appSettings>
    <add key="webpages:Version" value="1.0.0.0"/>
    <add key="ClientValidationEnabled" value="true"/>
    <add key="UnobtrusiveJavaScriptEnabled" value="true"/>
	  
	  <!--vss配置-->
	  <add key="VSSini" value="\\ip\排班系统配置库\srcsafe.ini"/>
	  <add key="VSSuser" value=""/>
	  <add key="VSSpwd" value="123"/>
	  <add key="CCMS_PRJ" value="$/工程产品类/编码阶段/"/>
    <add key="CCMS_Local" value="E:\project\ccms\发布源码包\"/>
    <add key="CI_Release_Uri" value="http://ip:8004"/>


    <add key="WorkPath" value="E:\project\donetCI工具\Utry.CI\Utry.CIConsole\bin\Debug\Project"/>
    <add key="SVNUser" value=""/>
    <add key="SVNpwd" value=""/>
    

    <!--vss配置结束-->
	  
	  <!--上传附件路径-->
	  <add key="uploadpath" value="upfiles"/>

  </appSettings>
    
  <system.web>

    <httpRuntime maxRequestLength="409600"
	  useFullyQualifiedRedirectUrl="true"
	  executionTimeout="6000"
	  minFreeThreads="8"
	  minLocalRequestFreeThreads="4"
	  appRequestQueueLimit="100"
	  enableVersionHeader="true"
	  />


	  <compilation debug="true" targetFramework="4.0">
      <assemblies>
        <add assembly="System.Web.Abstractions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
        <add assembly="System.Web.Helpers, Version=1.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
        <add assembly="System.Web.Routing, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
        <add assembly="System.Web.Mvc, Version=3.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
        <add assembly="System.Web.WebPages, Version=1.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
      </assemblies>
    </compilation>

    <authentication mode="Forms">
      <forms loginUrl="~/Account/LogOn" timeout="2880" />
    </authentication>

    <pages validateRequest="false">
      <namespaces>
        <add namespace="System.Web.Helpers" />
        <add namespace="System.Web.Mvc" />
        <add namespace="System.Web.Mvc.Ajax" />
        <add namespace="System.Web.Mvc.Html" />
        <add namespace="System.Web.Routing" />
        <add namespace="System.Web.WebPages"/>
      </namespaces>
    </pages>
  </system.web>

  <system.webServer>
    <validation validateIntegratedModeConfiguration="false"/>
    <modules runAllManagedModulesForAllRequests="true"/>
  </system.webServer>

  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Mvc" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-2.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>
