<?xml version="1.0"?>
<configuration>
  <startup useLegacyV2RuntimeActivationPolicy="true">
    <supportedRuntime version="v4.0" sku = ".NETFramework,Version=v4.0"/>
    <supportedRuntime version="v2.0.50727"/>
  </startup>

  <connectionStrings>
    <!--<add name="ConnectionString" connectionString="Data Source=.;Initial Catalog=UTRY_CI;User ID=sa;Password=123" providerName="System.Data.SqlClient" />-->
    <add name="ConnectionString" connectionString="Data Source=127.0.0.1;Initial Catalog=UTRY_CI;User ID=test;Password=Utry00" providerName="System.Data.SqlClient" />

    <!--<add name="ConnectionString" connectionString="Data Source=.;Initial Catalog=test;User ID=sa;Password=utryci" providerName="System.Data.SqlClient" />-->
  </connectionStrings>

  <appSettings>
    <add key="WorkPath" value="E:\project\donetCI工具\Utry.CI\Utry.CIConsole\bin\Debug\Project"/>
    <add key="SVNUser" value=""/>
    <add key="SVNpwd" value=""/>

    <add key="msbuild" value="C:\Windows\Microsoft.NET\Framework\v4.0.30319\MSBuild.exe"/>
    <add key="buildshell" value="/maxcpucount /l:FileLogger,Microsoft.Build.Engine;logfile={logpath}\log.log /t:rebuild"/>
    
    <add key="rar_ignore" value="-x*.rar -x*.log -x*.sln -x*.suo -x*.vb  -x*.cs -x*.scc -x*.vbproj -x*.user -x*.vspscc -x*.bak -x*.resx -x*.pdb -x*.zip -x*\obj -x*\lib -x*\ExcelFolder\* -x*\temp\*"/>

    <add key="db_transfer_rar" value="db_transfer_new\bin"/>
    <add key="JSDX_Level_Rating" value="JSDX_Level_Rating\bin"/>

    <add key="UTMP_rar" value="UTMP.UI"/>

  </appSettings>
  
</configuration>